argon2-cffi==19.1.0
bcrypt
certifi==2021.5.30
cffi
click
cryptography 
dnspython==2.1.0
Flask
Flask-PyMongo==2.3.0
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
passlib==1.7.4
pycparser
pymongo==3.11.4
six
SpeechRecognition==3.8.1
typing-extensions
Werkzeug
zipp
gunicorn